@tailwind base;
@tailwind components;
@tailwind utilities;

.active svg {
  @apply text-[#ffffff];
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
